<!DOCTYPE html>
<html>
<head>
    <title>StudyDeck Forum</title>
</head>
<body>

<h1>Discussion Categories</h1>

{% if categories %}
    {% for category in categories %}
        <hr>

        
        <h2>
            <a href="{% url 'category_detail' category.slug %}">
                {{ category.name }}
            </a>
        </h2>

        <p>{{ category.description }}</p>

        <!-- THREADS UNDER CATEGORY -->
        {% if category.threads.all %}
            <ul>
                {% for thread in category.threads.all %}
                    <li>
                        <a href="{% url 'thread_detail' thread.id %}">
                            {{ thread.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No threads in this category.</p>
        {% endif %}

    {% endfor %}
{% else %}
    <p>No categories available.</p>
{% endif %}

</body>
</html>
