<!DOCTYPE html>
<html>
<head>
    <title>StudyDeck Forum</title>
</head>
<body>
    <h1>Discussion Categories</h1>
    
    {% for category in categories %}
    <li>
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>

        {% if category.threads.all %}
            <ul>
                {% for thread in category.threads.all %}
                    <li>
                        <a href="{% url 'thread_detail' thread.id %}">
                            {{ thread.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No threads in this category.</p>
        {% endif %}
    </li>
{% endfor %}


    <br>
    
</body>
</html>